
.product_layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .25rem;

  &__header {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__body {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }
}

.loading {
  margin: 0 auto;
}

.product {
  margin: 2rem 0;
  max-width: 600px;
  width: 100%;

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__image_box {
    max-width: 500px;
    width: 100%;
  }

  &__image {
    width: inherit;
    height: inherit;
  }

  &__category {
    width: 100%;
    text-align: end;
  }

  &__image {
    width: inherit;
    height: inherit;
    object-fit: contain;
  }

  &__section {
    margin: 0 auto;
    max-width: 350px;
    height: 350px;
  }

  &__price {
    position: relative;
    margin: .75rem;
    text-align: end;
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__description {
    height: 240px;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    padding: .25rem;
    background-color: #fafafa;
    border-radius: 5px;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

}


