/* You can add global styles to this file, and also import other style files */

@import "normalize.css/normalize.css";
@import "_fonts";

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 2560px;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
