
<mat-card class="product">
  <mat-card-header>
<!--    <section mat-card-avatar class="example-header-image"></section>-->
    <mat-card-subtitle class="product__category">{{productProps.category}}</mat-card-subtitle>
    <mat-card-title
      class="product__title"
      [highlight]="searchTermProps"
      [innerText]="productProps.title"
    >
      {{ productProps.title }}
    </mat-card-title>

  </mat-card-header>
  <section class="product__section">
    <img mat-card-image class="product__image" src="{{ productProps.image }}" alt="{{productProps.title}}">
  </section>
  <mat-card-content>
    <section class="product__price"
             >
      {{productProps.price | currency}}
    </section>
    <section class="product__description"
             [highlight]="searchTermProps"
             [innerText]="productProps.description">
      <mat-icon>euro_symbol</mat-icon>{{ productProps.description }}
    </section>
  </mat-card-content>
  <footer class="product__footer">
    <mat-card-actions>
      <a mat-stroked-button
         (click)="selectProduct(productProps.id)"
         [routerLink]="['/product/', productProps.id]">Move to</a>
    </mat-card-actions>
  </footer>
</mat-card>
